@import "constants";
@import "sidebar";
@import "river";
@import "mixins";

body {
  width: 90%;
  @include center-align;
  font-family: "Alegreya", Palatino, Georgia, serif;
  color: $gray;
  margin-top: 10px;
  zoom: 1;
}

a {
  &:link, &:active, &:visited {
    color: $light-pink;
    text-decoration: none;
  }

  &:hover {
    color: $pink;
    text-decoration: underline;
  }
}

footer {
  text-align: center;
}