@media screen and (max-width: 1024px) {
  .left {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;

    ul {
      padding: 0;

      li {
        display: inline;
        list-style-type: none;
      }
    }

    .circular {
      margin: 0 auto;
      position: relative;
      left: auto;
      right: auto;
    }
  }

  .river {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    left: auto;
    right: auto;
    padding: 0;
  }
}