@import "constants";
@import "compass/css3/border-radius";

.left {
  position: fixed;
  width: $left-width;
  text-align: left;

  ul {
    list-style: none;
  }

  .circular {
    margin-left: 20px;
    width: 150px;
    height: 150px;
    background: url('/static/img/me.png') no-repeat;
    @include border-radius(75px);
    border: 2px $gray solid;

    a {
      width: 150px;
      height: 150px;
      position: absolute;
      text-indent: -9999px;
    }
  }

}